$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

@function em($pxValue) {
  @return #{(stripUnit($pxValue) / stripUnit($html-font-size) * 1)}em;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: em(1400);
  margin: 0 auto;
  // position: relative;
}

.btn {
  display: inline-block;
  background: #febd17;
  color: #000;
  border-radius: 0;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: rem(16);
  font-weight: 700;
  padding: em(12) em(40);
  text-decoration: none;
  text-align: center;

  &:hover {
    background: #fff;
    color: #000;
  }
}

.bg-yellow {
  background: #febd17;
}

.bg-black {
  background: #000;
  color: #fff;
}

.bg-grey {
  background: #edeeef;
}

.bg-white {
  background: #fff;

  .btn {
    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

.columns {
  display: flex;

  &.grid {
    display: grid;

    &.columns-2 {
      grid-template-columns: 1fr 1fr;
      gap: em(40);
    }

    &.columns-3 {
      grid-template-columns: 1fr 1fr 1fr;
      gap: em(40);
    }
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: em(4);
}

h1 {
  font-size: rem(44);
  font-weight: 700;
}

h2 {
  font-size: rem(38);
  font-weight: 700;
}

h3 {
  font-size: rem(32);
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: em(10);
  font-size: rem(16);
  line-height: 1.7;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.questions {
  * {
    transition: all 0.3s ease-in-out;
  }

  .question {
    display: flex;
    align-items: center;
    font-size: em(24);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    width: 100%;
    text-align: left;
    border: 0;
    padding: 0 em(20) 0 0;

    &:after {
      content: "+";
      font-size: em(28);
      font-weight: 300;
      margin-left: auto;
      transition: all 0.3s ease-in-out;
      // width: em(30);
      //  height: em(30);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      line-height: 0.6;
    }

    &.active {
      &:after {
        transform: rotate(-45deg);
        transform-origin: center;
      }
    }
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    margin-top: em(20);
    margin-bottom: em(20);

    &.active {
      max-height: em(500);
    }
  }
}

.dewaltprosupporthub .hero,
.section-6 {
  position: relative;
  overflow: hidden;
  min-height: em(420);

  .wrapper {
    display: flex;
    align-items: center;
    min-height: em(420);
  }

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    padding: em(20) em(30);
    color: #fff;
    max-width: em(800);

    h1 {
      margin-top: 0;
      margin-bottom: em(4);
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

header {
  padding: em(20) 0;

  .wrapper {
    justify-content: space-between;
  }

  svg {
    padding: em(20);
    max-width: em(500);
  }
}

section {
  padding: em(40) em(20);
}

.section-2 {
  .columns {
    .column {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        max-width: em(200);
      }

      p,
      h2 {
        text-align: center;
      }

      h2 {
        margin-top: 0;
        margin-bottom: em(4);
      }
    }
  }
}

.section-3 {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: #febd17;
    }
  }
}

.section-4 {
  .apps.columns.grid.columns-2 {
    display: flex;
    gap: em(10);

    img {
      max-width: em(200);
    }
  }
}

.section-5,
.section-6 {
  .copy {
    padding: em(12) em(40);
  }

  .columns {
    margin-bottom: em(40);

    &:last-of-type {
      margin-bottom: 0;
    }

    .column {
      flex-basis: 100%;

      &.copy {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.section-6 {
  .wrapper {
    justify-content: flex-end;

    .overlay {
      max-width: em(400);
      min-height: em(300);
    }
  }
}

.section-7 {
  .wrapper {
    max-width: em(800);

    h3 {
      text-align: center;
      margin-bottom: em(20);
    }
  }
}

footer {
  background: #000;

  .tough {
    padding: em(20);

    .wrapper {
      display: flex;
      justify-content: center;

      svg {
        max-width: em(400);
      }
    }
  }

  .copyright,
  a,
  p {
    font-size: rem(12);
    line-height: 2;
    color: #fff;
  }

  p {
    margin-top: em(20);
  }

  .copyright {
    padding: em(50) em(20);
    text-align: center;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
  justify-content: center;
  cursor: pointer;

  &.active {
    display: flex;
  }

  .modal-wrapper {
    width: 100%;
    max-width: em(800);
    max-height: 90vh;
    position: relative;

    .close {
      position: absolute;
      right: em(20);
      top: em(20);
      background: #febd17;
      padding: em(20);
      border-radius: em(3);
    }

    .modal-content {
      width: 100%;
      padding: em(50) em(20);
      background: #fff;
    }
  }
}

@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .dewaltprosupporthub .hero,
  .section-6 {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;

    img {
      position: relative;
    }

    .wrapper {
      min-width: auto;
      min-height: auto;
      align-items: flex-start;
      background: #000;
      margin: 0;

      .overlay {
        max-width: 100%;
      }
    }
  }

  .columns.grid.columns-3,
  .columns.grid.columns-2 {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
}

.hero.slant-down.content-page-image {
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
  position: fixed;
  top: -100000vh;
  left: -100000vw;
}
